/* 通用样式 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
/* 默认变量 */
:root {
  --max-width: 1440px;
  --card-mian: 10px;
  --card-radius: 30px;
  --font-mono: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* 颜色 */
:root {
  --background-color: #ffffff;
  --background-color-2: #e6e6e6;
  --card-color: #cccccc;
  --hide-color: #ff3131;
  --pinyin-bg-color: #ffffff;
  --pinyin-button-bg-color: #d7d7d7;
  --pinyin-img-bg-color: #ffffff;
  --pinyin-img-stroke-color: #ffffff;
  --print-stroke-color: #5b5b5b;
  --text-color: #000000;
  --zuci-button-color: #ffffff;
}
/* 暗色模式 */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --background-color: #000000;
    --background-color-2: #2f2f2f;
    --card-color: #363636;
    --hide-color: #ff3131;
    --pinyin-bg-color: #5a5a5a;
    --pinyin-button-bg-color: #4f4f4f;
    --pinyin-img-bg-color: #212121;
    --pinyin-img-stroke-color: #5d5d5d;
    --print-stroke-color: #5b5b5b;
    --text-color: #ffffff;
    --zuci-button-color: #5d5d5d;
  }
}


@media (max-width: 1440px) {
  :root {
  --card-mian: 0px;
  }
}